{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
    <title>{{ title }}</title>
    {# 导入css 和 js #}
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    {# 子模型中扩展自己的css #}
    {% block extCSS %}

    {% endblock %}

</head>
<body>
    {# 头 #}
    {% block header %}

    {% endblock %}
    {# 内容 #}
    {% block content %}

    {% endblock %}
    {# 脚 #}
    {% block footer %}

    {% endblock %}

    {# 导入js #}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.js"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    {# 子模型中扩展自己的js #}
    {% block extJS %}

    {% endblock %}

</body>
</html>