{% extends 'common/base.html' %}
{% block title %}
    博客管理
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"/>
    <style>
        tr, td {
            text-align: center;
        }
    </style>
{% endblock %}
{% block pagecontent %}
    <form class="form-inline definewidth m20" action="{{ url_for('center.blog_search') }}" method="post">
        博客名称：
        <input type="text" name="search" id="search" class="abc input-default" placeholder="输入搜索的博客标题名..." value="">&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary">查询</button>
    </form>
    <table class="table table-bordered table-hover definewidth m10">
        <thead>
        <tr>
            <th>博客id</th>
            <th>博客标题</th>
            <th>访问量</th>
            <th>发表时间</th>
            <th>操作</th>
        </tr>
        </thead>
        {% for row in data %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.title|replace_color(word)|safe }}</td>
                <td>{{ row.visit }}</td>
                <td>{{ moment(row.timestamp).format('Y-M-D H:m:s') }}</td>
                <td>
                    <a href="{{ url_for('center.edit_blog',pid=row.id) }}" target="_blank">编辑</a>|
                    <a href="{{ url_for('center.see_myself',pid=row.id) }}">
                        {% if row.state %}
                            所有人可见
                        {% else %}
                            仅自己查看
                        {% endif %}
                    </a>|
                    <a href="{{ url_for('center.del_posts',pid=row.id) }}">删除</a>|
                </td>
            </tr>
        {% endfor %}
    </table>
    {#分页#}
    {% from 'common/page.html' import page %}
    {{ page('center.blog_search',pagination,search=word) }}
{% endblock %}